<h2>Käyttäjätiedot: <%= @user.login %></h2>

<em>Huomaa, että sähköposti ei näy muille käyttäjille</em>

<div id="user_details">
  Rooli: <%=h @user.role %><br/>

  <% if current_user.id == @user.id %>
    Email: <%=h @user.email %><br/>
  <% end %>  
  
  <% unless @user.web_page.blank? %>
    Web: <%= link_to h(@user.web_page), h(@user.web_page) %><br/>
  <% end %>

  <p>
  Luotu: <%= @user.created_at.to_s(:db) %><br/>
  Päivitetty: <%= @user.updated_at.to_s(:db) %><br/>
  </p>
</div>

<p><%= link_to 'Muokkaa', edit_user_path(@user) if @user.id == current_user.id %></p>

