<div id="event_list">
  <span class="add_new">
    <%= link_to 'Lisää uusi', new_event_path if logged_in? %>
  </span>

  <%= content_tag :h2, @title %>

  <table>
    <tr>
      <th id="coordinates">Koordinaatit</th>
      <th id="program_header">Ohjelma</th>
    </tr>

    <% now = Time.now %>
    <% @events.each_with_index do |evt, i| %>
      <% row_class = cycle('even', 'odd') %>
      <% row_class += " highlight" if i == 0 && evt.date >= now %>
      <tr class="<%= row_class %> upcoming">
        <td><%= link_to evt.fmt_date, evt %>, 
            <%= link_to evt.location_name, location_path(evt.location) %></td>
        <td><%= preview_event(evt) %>

          <% if logged_in? && !current_user.participates_event?(evt.id) %>
              <%= button_to('Ilmoittaudu',
                            :id => evt.id,
                            :user_id => current_user.id,
                            :controller => :events,
                            :action => :register) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
