<div id="event_list">
  <span class="add_new">
    <%= link_to 'Lisää uusi tapahtuma', new_event_path %>
  </span>
  <h2>Tulevat tapahtumat</h2>

  <table class="list">
    <tr>
      <th id="date_header">Päivämäärä</th>
      <th id="program_header">Ohjelma</th>
    </tr>

    <% today = Time.now %>
    <% @coming_events.each do |evt| %>
    <% confirm_msg = "Oletko varma, että haluat poistaa #{fmt_date(evt.date)} tapahtuman?" %>
    <tr class="<%= %> <%= cycle('even', 'odd') %> upcoming %>">
      <td><%=link_to fmt_date(evt.date), evt %></td>
      <td><%=h evt.description %></td>
      <!--    <td><%= link_to 'Muokkaa', edit_event_path(evt) %></td>
              <td><%= link_to('Poista',
                      evt,
                      :confirm => confirm_msg,
                :method => :delete) %></td> -->
    </tr>
    <% end %>

    <tr>
      <td colspan="2">
        <h2>Menneet tapahtumat</h2>
      </td>
    </tr>
    <% @past_events.each do |evt| %>
    <% confirm_msg = "Oletko varma, että haluat poistaa #{fmt_date(evt.date)}. tapahtuman?" %>
    <tr class="<%= %> <%= cycle('even', 'odd') %> past %>">
      <td><%=link_to fmt_date(evt.date), evt %></td>
      <td><%=h evt.description %></td>
      <!--    <td><%= link_to 'Muokkaa', edit_event_path(evt) %></td>
              <td><%= link_to('Poista',
                      evt,
                      :confirm => confirm_msg,
                :method => :delete) %></td> -->
    </tr>
    <% end %>

  </table>

  <br/>

</div>
