<div id="event_display">
  <% content_tag(:span, :class => "add_new") do %>
    <%= link_to('Lisää uusi', new_event_path) %> |
    <%= link_to 'Muokkaa', edit_event_path(@event) %> |
    <%= link_to 'Poista', event_path(@event), :method => :delete %>
  <% end if logged_in? %>
  <h2>
    <%= fmt_date(@event.date) %>
  </h2>
  <%= link_to @event.location.title, @event.location if @event.location %>
  18.30 - 21.00

  <div id="program_details">
    <div id="participants" class="tidbit">
      Osallistujat:
      <%= show_users(@event.users) %>
      (<%= @event.users.size %>)
    </div>

    <h3>Ohjelma:</h3>
    <div id="program">
      <%= format_event(@event) %>
    </div>

  </div>
</div>

<p id="back_link">
  <%= link_to '<- Takaisin tapahtumiin', events_path %>
</p>
