<h2><%= @location.title %></h2>

<div id="location_details">

  <div class="tidbit">
    Käyttöaste: <%= popularity_of(@location) %>
  </div>

  <p>
    <%= @location.address unless @location.address.blank? %>
  <p>

  <p>
    <%= link_to 'kartta', @location.google_maps,
        :class => 'external' unless @location.google_maps.blank?
    %>
  </p>
</div>

<p>
  <%= link_to 'Kaikki sijainnit', locations_path %> |
  <%= link_to 'Muokkaa', edit_location_path(@location) if logged_in? %>
</p>
