<p>

  <b>Sijanti:</b>
  <%=h @location.title %>, <%= link_to 'kartta', @location.google_maps %>
</p>

<p>
  <b>Osoite:</b>
  <%=h @location.address %>
</p>

<p>
  <%= link_to 'Muokkaa', edit_location_path(@location) %> |
  <%= link_to 'Näytä sijainnit', locations_path %>
</p>
