<p>

  <b>Sijanti:</b>
  <%= @location.title %>
  <% unless @location.google_maps.blank? %>
    , <%= link_to 'kartta', @location.google_maps %>
  <% end %>
</p>

<p>
  <b>Osoite:</b>
  <%=h @location.address %>
</p>

<p>
  <%= link_to 'Muokkaa', edit_location_path(@location) %> |
  <%= link_to 'Näytä sijainnit', locations_path %>
</p>
