<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Tampere.rb</title>
    <%= stylesheet_link_tag :all, :cache => false %>
    <%= javascript_include_tag :all, :cache => false %>

    <%= calendar_date_select_includes "red" %>

    <script type="text/javascript">
      _translations = {
      "OK": "OK",
      "Now": "Nyt",
      "Today": "Tänään"
      }
      Date.weekdays = $w("Su Ma Ti Ke To Pe La");
      Date.months = $w("Tammi Helmi Maalis Huhti Touko Kesä Heinä Elo Syys Loka Marras Joulu" );
     </script>
  </head>

  <body>
    <div id="header">

      <div id="banner">
        <img id="logo_image" src="/images/nasinneula.png" alt=""/>
        <h1># Tampere.rb</h1>

        members.each { |m| m.share(:knowledge).while_having(:fun) }

        <% if flash[:notice] %>
          <p class="flash" id="notice"><%= flash[:notice] %></p>
        <% end %>
      </div>

      <div id="login_menu">
        <% if (current_user.login rescue nil) %>
          <strong><%= current_user.login %></strong><br/>
          <%= link_to('Sulje istunto', "/sessions/destroy") %>
        <% else %>
          <div id="credentials">
                <% form_tag session_path do -%>
                  <label for="login">Käyttäjätunnus:</label>
                  <%= text_field_tag 'login' %><br/>

                 <label for="password">Salasana:</label>
                  <%= password_field_tag 'password' %><br/>
          <%= link_to('Rekisteröidy', "/users/new") %> |  <%= submit_tag 'Kirjaudu' %>
                <% end -%>
           </div>
        <% end %>
      </div>
    </div>

    <div id="main">
      <div id="menu">
        <span id="events"><%= link_to 'Tapahtumat', events_path %></span> |
        <span id="archive"><%= link_to 'Arkisto', archived_events_path %></span>
        <!-- <span id="members"><%= link_to 'Jäsenet', users_path %></span> -->
      </div>

      <div id="content">
        <%= yield  %>
      </div>
    </div>

    <div id="footer">
      <span id="rails_link">
         <a href="http://www.rubyonrails.org/">Ruby on Rails</a>
      </span>
      <span id="w3c_logo"><a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a></span>
    </div>

  </body>
</html>
