<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Tampere.rb</title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag :all, :cache => true %>
    <%= calendar_date_select_includes "red" %>

    <script type="text/javascript">
      _translations = {
      "OK": "OK",
      "Now": "Nyt",
      "Today": "Tänään"
      }

      Date.weekdays = $w("Su Ma Ti Ke To Pe La");

      Date.months = $w("Tammi Helmi Maalis Huhti Touko Kesä Heinä Elo Syys Loka Marras Joulu" );
     </script>

  </head>

  <body>
    <div id="header">

      <div id="banner">
        <img id="logo_image" src="/images/nasinneula.png" alt=""/>
        <h1># Tampere.rb</h1>

        members.each { |m| m.share(:knowledge).while_having(:fun) }

        <% if flash[:notice] %>
          <p class="flash" id="notice"><%= flash[:notice] %></p>
        <% end %>
      </div>

      <div id="login_menu">
        <% if (current_user.login rescue nil) %>
          <strong><%= current_user.login %></strong><br/>
          <%= link_to('Poistu palvelusta', "/sessions/destroy") %>
        <% else %>
          <strong id="user_login">Anonyymi nössö</strong><br/>
          <%= link_to('Kirjaudu sisään', "/sessions/new") %> |
          <%= link_to('Rekisteröidy', "/users/new") %>
        <% end %>
      </div>
    </div>

    <div id="main">
      <div id="menu">
<!--
        <ul>
          <li>Tapahtumat (valitse montako, oletus = max 100)</li>
          <%= link_to 'Arkisto', archived_events_path %>
          <li><%= link_to 'Jäsenet', users_path %></li>
        </ul>
-->
      </div>

      <div id="content">
        <%= yield  %>
      </div>
    </div>

    <div id="footer">
      <a href="http://www.rubyonrails.org/">Ruby on Rails</a>
    </div>

  </body>
</html>
